#hero{
    width: 1500px; 
    height: 750px;
   
    background-image: url(../assets/Hero-bg.png);
   display: flex;
   
    align-items: center; 
    justify-content: center; 
   
}
#hero-content{
    text-align: center;
    color: rgb(13, 19, 33);
    
    
}
#button-1{
    width: 244px;
    height: 65px;
    padding: 21px 24px 21px 24px;
    background-color: rgb(13, 19, 33);
    font-weight: 580;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    margin-top: 15px;
   
}

/* HERO SECTION DONE */


#why-part{
    margin-top: 74px;
    
    height: 1200px;
    width: 1200px;
    background-color:  rgba(13, 19, 33, 0.02);
    display: flex; align-items: center; justify-content: center; flex-direction: column;
 justify-self: center;

  
    
}

#first-part{
    padding: 48px 48px 48px 48px;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    width: 1005px;
   background:  linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);;
    border-radius: 16px;
}

#second-part{
    margin-top: 30px;
    padding: 48px 48px 48px 48px;
    justify-self: center;
    display: flex;
    gap: 15px;
    /* justify-content: space-between; */
    width: 1005px;
    background:  linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    border-radius: 16px;

}

#third-part{
    padding: 48px 48px 48px 48px;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    width: 1005px;
   background:  linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);;
    border-radius: 16px;

}


/* why part done */